@font-face {
  font-family: "iconfont"; /* Project id 1992250 */
  src: url('https://at.alicdn.com/t/font_1992250_4sohxwhf18.woff2?t=1636443871414') format('woff2'),
       url('https://at.alicdn.com/t/font_1992250_4sohxwhf18.woff?t=1636443871414') format('woff'),
       url('https://at.alicdn.com/t/font_1992250_4sohxwhf18.ttf?t=1636443871414') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wuzhangai:before {
  content: "\e61b";
}

.icon-zhengce:before {
  content: "\e62e";
}

.icon-zhengce1:before {
  content: "\e60a";
}

.icon-a-dianhua:before {
  content: "\e7f9";
}

.icon-mulu1:before {
  content: "\e61a";
}

.icon-caizhengzijin:before {
  content: "\e69c";
}

.icon-shuiguan:before {
  content: "\e605";
}

.icon-huagongxingye:before {
  content: "\e61c";
}

.icon-zhishichanquan2:before {
  content: "\e69f";
}

.icon-fangwuxinxi:before {
  content: "\e60b";
}

.icon-jingji:before {
  content: "\e623";
}

.icon-jifenshangchengb:before {
  content: "\e6f6";
}

.icon-xinwen:before {
  content: "\e634";
}

.icon-jingwuicon-:before {
  content: "\e61d";
}

.icon-wenjian:before {
  content: "\e68e";
}

.icon-wheat__easyic:before {
  content: "\e63c";
}

.icon-yibao:before {
  content: "\e60e";
}

.icon-cross:before {
  content: "\e629";
}

.icon-fangwujiaoyipingtai:before {
  content: "\e601";
}

.icon-nongye:before {
  content: "\e604";
}

.icon-jinrongyinhang:before {
  content: "\e60c";
}

.icon-gongan:before {
  content: "\e617";
}

.icon-jingbao:before {
  content: "\e73b";
}

.icon-gongzuobao:before {
  content: "\e621";
}

.icon-shui:before {
  content: "\e608";
}

.icon-hua:before {
  content: "\e62d";
}

.icon-shuju1:before {
  content: "\e801";
}

.icon-zhongguohangtiantubiaoheji-weizhuanlunkuo-:before {
  content: "\e636";
}

.icon-gaizhang:before {
  content: "\e78d";
}

.icon-airudiantubiaohuizhi-zhuanqu_tiyushijie:before {
  content: "\e69a";
}

.icon-keji:before {
  content: "\e625";
}

.icon-keji1:before {
  content: "\e613";
}

.icon-huaban:before {
  content: "\e60f";
}

.icon-home:before {
  content: "\e626";
}

.icon-ziyuan:before {
  content: "\e616";
}

.icon-fayuan:before {
  content: "\e68f";
}

.icon-guoziwei:before {
  content: "\e690";
}

.icon-qiche:before {
  content: "\e691";
}

.icon-kaifa:before {
  content: "\e609";
}

.icon-w_keji-:before {
  content: "\e692";
}

.icon-B:before {
  content: "\e70e";
}

.icon-shu:before {
  content: "\e6f7";
}

.icon-jifen1:before {
  content: "\e614";
}

.icon-gongjijin:before {
  content: "\e693";
}

.icon-keji2:before {
  content: "\e694";
}

.icon-tianping:before {
  content: "\e6f8";
}

.icon-bangong:before {
  content: "\e767";
}

.icon-dengpao:before {
  content: "\e695";
}

.icon-jifen2:before {
  content: "\e7f2";
}

.icon-biangengminzu:before {
  content: "\e696";
}

.icon-leaf:before {
  content: "\e642";
}

.icon-hotairballoon:before {
  content: "\e697";
}

.icon-policeman:before {
  content: "\e8f1";
}

.icon-touxiang:before {
  content: "\e628";
}

.icon-fuwu1:before {
  content: "\e615";
}

.icon-quanliqingdan:before {
  content: "\e6f5";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-douban:before {
  content: "\e68c";
}

.icon-tongzhi:before {
  content: "\e68a";
}

.icon-yonghu-tianchong:before {
  content: "\e68b";
}

.icon-daichulishenqing:before {
  content: "\e60d";
}

.icon-chaxunzhengshu:before {
  content: "\e620";
}

.icon-huatong:before {
  content: "\e689";
}

.icon-huatong1:before {
  content: "\e638";
}

.icon-subscribe-1-copy:before {
  content: "\e606";
}

.icon-wechat:before {
  content: "\e688";
}

.icon-youjian:before {
  content: "\e612";
}

.icon-fenxiang:before {
  content: "\e6a1";
}

.icon-shouji1:before {
  content: "\e731";
}

.icon-kefu:before {
  content: "\e63a";
}

.icon-fuwu:before {
  content: "\e686";
}

.icon-gongye:before {
  content: "\e687";
}

.icon-biyeshengjiuye:before {
  content: "\e66a";
}

.icon-churujingquanguotongban:before {
  content: "\e66b";
}

.icon-dianzishuiwuju:before {
  content: "\e66c";
}

.icon-fangdichanjiaoyi:before {
  content: "\e66d";
}

.icon-gerenshequshiwufuwu:before {
  content: "\e66e";
}

.icon-dianziyinzhang:before {
  content: "\e66f";
}

.icon-churujingzhengjianbianlihua:before {
  content: "\e670";
}

.icon-jianchaweimin:before {
  content: "\e671";
}

.icon-jiuyeshebao:before {
  content: "\e672";
}

.icon-budongchandengji:before {
  content: "\e673";
}

.icon-lajifenlei:before {
  content: "\e674";
}

.icon-quanshitongban:before {
  content: "\e675";
}

.icon-guojimaoyidanyichuangkou:before {
  content: "\e676";
}

.icon-shixiangqingdan:before {
  content: "\e677";
}

.icon-shewairenshibanshiditu:before {
  content: "\e678";
}

.icon-qiyeyunfuwu:before {
  content: "\e679";
}

.icon-kaibanqiyeyichuangtong:before {
  content: "\e67a";
}

.icon-susongfuwu:before {
  content: "\e67b";
}

.icon-shizhongshihoujianguan:before {
  content: "\e67c";
}

.icon-yicishiyiciban:before {
  content: "\e67d";
}

.icon-shilingyouerruyuan:before {
  content: "\e67e";
}

.icon-xinguanfeiyanfangkongzhuanlan:before {
  content: "\e67f";
}

.icon-zaixiankaijuzhengming:before {
  content: "\e680";
}

.icon-suishenma:before {
  content: "\e681";
}

.icon-yiwujiaoyuruxue:before {
  content: "\e682";
}

.icon-zhiyejiankang:before {
  content: "\e683";
}

.icon-zhongkaochengjichaxun:before {
  content: "\e684";
}

.icon-changsanjiaoyiwangtongban:before {
  content: "\e685";
}

.icon-gonganxiaofang:before {
  content: "\e644";
}

.icon-danganwenwu:before {
  content: "\e645";
}

.icon-anquanshengchan:before {
  content: "\e646";
}

.icon-diyazhiya1:before {
  content: "\e647";
}

.icon-farenzhuxiao:before {
  content: "\e648";
}

.icon-huanbaolvhua1:before {
  content: "\e64a";
}

.icon-guotuheguihuajianshe:before {
  content: "\e64b";
}

.icon-jiaotongyunshu:before {
  content: "\e64c";
}

.icon-jianyanjianyi:before {
  content: "\e64e";
}

.icon-haiguankouan:before {
  content: "\e64f";
}

.icon-minzuzongjiao1:before {
  content: "\e650";
}

.icon-nonglinmuyu:before {
  content: "\e651";
}

.icon-nianjiannianshen:before {
  content: "\e652";
}

.icon-shangwumaoyi:before {
  content: "\e653";
}

.icon-gongyongshiye1:before {
  content: "\e654";
}

.icon-renliziyuan:before {
  content: "\e655";
}

.icon-shewaifuwu:before {
  content: "\e656";
}

.icon-rongzixindai:before {
  content: "\e657";
}

.icon-shuiwuqixiang:before {
  content: "\e65a";
}

.icon-shehuibaozhang1:before {
  content: "\e65b";
}

.icon-shelibiangeng1:before {
  content: "\e65c";
}

.icon-touzishenpi:before {
  content: "\e65d";
}

.icon-wenhuajiaoyu:before {
  content: "\e65e";
}

.icon-sifagongzheng1:before {
  content: "\e65f";
}

.icon-qita1:before {
  content: "\e660";
}

.icon-shuishoucaiwu:before {
  content: "\e661";
}

.icon-yingduiqihoubianhua:before {
  content: "\e662";
}

.icon-zhaobiaopaimai:before {
  content: "\e663";
}

.icon-zhishichanquan1:before {
  content: "\e664";
}

.icon-zhunyingzhunban1:before {
  content: "\e665";
}

.icon-zizhirenzheng:before {
  content: "\e666";
}

.icon-zhiliangjishu:before {
  content: "\e667";
}

.icon-yiliaoweisheng1:before {
  content: "\e668";
}

.icon-kejichuangxin:before {
  content: "\e669";
}

.icon-chujingrujing:before {
  content: "\e6ca";
}

.icon-gongyongshiye:before {
  content: "\e6cb";
}

.icon-hujibanli:before {
  content: "\e6cc";
}

.icon-guihuajianshe:before {
  content: "\e6cd";
}

.icon-huanbaolvhua:before {
  content: "\e6ce";
}

.icon-diyazhiya:before {
  content: "\e6cf";
}

.icon-gonggonganquan:before {
  content: "\e6dc";
}

.icon-jiaotongchuhang:before {
  content: "\e6dd";
}

.icon-hunyindengji:before {
  content: "\e6de";
}

.icon-minzuzongjiao:before {
  content: "\e6df";
}

.icon-jiuyechuangye:before {
  content: "\e6e0";
}

.icon-jiaoyukeyan:before {
  content: "\e6e1";
}

.icon-lizhituixiu:before {
  content: "\e6e2";
}

.icon-ruwufuyi:before {
  content: "\e6e3";
}

.icon-qita:before {
  content: "\e6e4";
}

.icon-shelibiangeng:before {
  content: "\e6e5";
}

.icon-siwangbinzang:before {
  content: "\e6e6";
}

.icon-sifagongzheng:before {
  content: "\e6e7";
}

.icon-shengyushouyang:before {
  content: "\e6e8";
}

.icon-hangzhengjiaofei:before {
  content: "\e6e9";
}

.icon-shehuibaozhang:before {
  content: "\e6ea";
}

.icon-xiaofeiweiquan:before {
  content: "\e6eb";
}

.icon-wenhuatiyu:before {
  content: "\e6ec";
}

.icon-zhishichanquan:before {
  content: "\e6ed";
}

.icon-zhiyezige:before {
  content: "\e6ee";
}

.icon-zhengjianbanli:before {
  content: "\e6ef";
}

.icon-zhufangbaozhang:before {
  content: "\e6f0";
}

.icon-zhunyingzhunban:before {
  content: "\e6f1";
}

.icon-lvyouguanguang:before {
  content: "\e6f2";
}

.icon-yiliaoweisheng:before {
  content: "\e6f3";
}

.icon-youdaifuxu:before {
  content: "\b474";
}

.icon-youxiang:before {
  content: "\e64d";
}

.icon-youxiang1:before {
  content: "\e611";
}

.icon-caizheng:before {
  content: "\e6d4";
}

.icon-shuangsuiji:before {
  content: "\e6d5";
}

.icon-xiangmu:before {
  content: "\e6d6";
}

.icon-jihua:before {
  content: "\e6d7";
}

.icon-renshi:before {
  content: "\e6d8";
}

.icon-zhize:before {
  content: "\e6d9";
}

.icon-huiyi:before {
  content: "\e6da";
}

.icon-shuanggongshi:before {
  content: "\e6db";
}

.icon-tian1:before {
  content: "\e6d0";
}

.icon-shuju:before {
  content: "\e6d1";
}

.icon-zhongdian:before {
  content: "\e6d2";
}

.icon-qingdan:before {
  content: "\e6d3";
}

.icon-baozhang:before {
  content: "\e6c3";
}

.icon-fabuhui:before {
  content: "\e6c4";
}

.icon-lingdao:before {
  content: "\e6c5";
}

.icon-nianbao:before {
  content: "\e6c6";
}

.icon-mulu:before {
  content: "\e6c7";
}

.icon-zhinan:before {
  content: "\e6c8";
}

.icon-zhidu:before {
  content: "\e6c9";
}

.icon-gongbao:before {
  content: "\e600";
}

.icon-jianyi:before {
  content: "\e6bf";
}

.icon-tian:before {
  content: "\e6c0";
}

.icon-tousu:before {
  content: "\e6c1";
}

.icon-pingtai:before {
  content: "\e6c2";
}

.icon-shouji:before {
  content: "\e6be";
}

.icon-gongkaizhinan:before {
  content: "\e6b9";
}

.icon-gongkaineirong:before {
  content: "\e6ba";
}

.icon-gongkainianbao:before {
  content: "\e6bb";
}

.icon-gongkaizhidu:before {
  content: "\e6bc";
}

.icon-yishenqinggongkai:before {
  content: "\e6bd";
}

.icon-zuojiantou:before {
  content: "\e6b7";
}

.icon-youjiantou:before {
  content: "\e6b8";
}

.icon-caidan:before {
  content: "\e62c";
}

.icon-wuzhangaiyuedu:before {
  content: "\e53a";
}

.icon-icon-test:before {
  content: "\e658";
}

.icon-icon-test1:before {
  content: "\e659";
}

.icon-iconfont16x16moban:before {
  content: "\e649";
}

.icon-weibo:before {
  content: "\eb07";
}

.icon-QQ:before {
  content: "\e619";
}

.icon-QQkongjian:before {
  content: "\e63b";
}
