{% extends 'base.html' %}
{% block title %}
    识别
{% endblock %}
{% block head %}

{% endblock %}
{% block nav %}
    <li class="layui-nav-item"><a href="/">主页</a></li>
    <li class="layui-nav-item  layui-this"><a href="{{ url_for('ident.class_upload') }}">识别</a></li>
    <li class="layui-nav-item"><a href="{{ url_for('ident.class_record') }}">记录</a></li>
    <li class="layui-nav-item"><a href="{{ url_for('forum.record') }}">论坛</a></li>
{% endblock %}
{% block body %}
    {% if user %}
        <div class="layui-container" style="margin-top:2%">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md10 layui-col-md-offset1">
                    <div class="layui-card">

                        <div class="layui-card-header">
                            <form method='POST' enctype="multipart/form-data">


                                <input type="file" class="layui-btn layui-text" aria-label="Upload" name="file[]"
                                       accept="image/*">

                                <button class="layui-btn" type="submit">
                                    识别
                                </button>
                            </form>
                        </div>
                        <div>
                            <p class="layui-card-body" style="font-size:20px;font-family: 宋体"><b>请上传带有病害的果树叶片图片，点击识别按钮进行病害识别。</b></p>
                        </div>
                        {% if img_result %}
                            <div class="layui-form-item">
                                <table class="layui-table">
                                    <thead>
                                    <tr>

                                        <th scope="col">原图</th>
                                        <th scope="col">分割图</th>
                                        <th scope="col">类别</th>
                                        <th scope="col">病害程度</th>
                                        <th scope="col">精度</th>
                                        <th scope="col">耗时</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>

                                        <td>
                                            <img src="image/{{ img_result.img_path_1 }}"
                                                 class="card-img-top img-show"
                                                 style="max-width: 300px;max-height: 300px;object-fit: contain;">
                                        </td>
                                        <td>
                                            <img src="image/{{ img_result.img_path_2 }}"
                                                 class="card-img-top img-show"
                                                 style="max-width: 300px; max-height: 300px; object-fit: contain;">
                                        </td>

                                        <td>{{ img_result.img_class }}</td>
                                         <td>轻度</td>
                                        <td>{{ img_result.img_acc }}%</td>
                                        <td>{{ img_result.time_spent }}S</td>
                                    </tr>

                                    </tbody>
                                </table>

                                <button type="button" class="layui-btn layui-btn-fluid layui-btn-xs layui-btn-normal">建议
                                </button>
                                <p align="left" style=" font-family: 华文中宋;font-size:30px;font-weight: bold;color: #65c294;text-align: left;margin-top: 0;">{{ img_result.img_adjust }}</p>
                            </div>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="layui-container" style="margin-top:2%">
            <div class="layui-row">
                <div class="layui-col-md10 layui-col-md-offset1 ">
                    <div class="layui-panel">
                        <div style="padding: 30px;"><p class="layui-text">
                            很抱歉，请进行<a class="layui-font-blue " href="{{ url_for('auth.login') }}">登录</a>！
                        </p></div>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block footer %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}